<%- include('partials/header') %>
<%- include('partials/sidebar') %>

<main class="conteudo-principal">
    <header>
        <h1>Gestão de Marketing</h1> </header>

    <section class="cards-status">
        <div class="card">
            <h3><%= dados.status %></h3>
            <p>Operando normalmente</p>
            <small>Responsável: <%= dados.usuario %></small>
        </div>

        <div class="card">
            <h3><%= dados.status %></h3>
            <p>Operando Marketing</p>
            <small>Responsável: <%= dados.usuario %></small>
        </div>
    </section> </main>

<%- include('partials/footer') %>